<!doctype html>
<html ng-app="app">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-animate.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src= "../js/ui-grid.js"></script>
 <link href="../css/ui-grid.css" rel="stylesheet" media="screen"/> 
    
    <style>
    .grid {
  width: 100%;
  height: 500px;
}
    </style>
  </head>
  <body>

    <div ng-controller="SecondCtrl">
      Single selection grid without rowHeader, and allowing rowSelection to be toggled on and off dynamically:
      <br/>
      <button type="button" class="btn btn-success" ng-click="toggleRowSelection()">Toggle rowSelection</button>  <strong>rowSelection:</strong> <span ng-bind="gridApi.grid.options.enableRowSelection"></span>
      <div ui-grid="gridOptions" ui-grid-edit ui-grid-selection ui-grid-cellnav class="grid"></div>
    </div>
    
    <script>
    
    
    var app = angular.module('app', ['ngTouch', 'ui.grid', 'ui.grid.selection','ui.grid.edit', 'ui.grid.cellNav']);
    
     
    app.controller('SecondCtrl', ['$scope', '$http', '$interval', 'uiGridConstants', function ($scope, $http, $interval, uiGridConstants) {
      $scope.gridOptions = { enableRowSelection: true, enableRowHeaderSelection: false };
     
      $scope.gridOptions.columnDefs = [
        { name: 'id' },
        { name: 'name'},
        { name: 'age', displayName: 'Age (not focusable)', allowCellFocus : false },
        { name: 'address.city' }
      ];
     
      $scope.gridOptions.multiSelect = false;
      $scope.gridOptions.modifierKeysToMultiSelect = false;
      $scope.gridOptions.noUnselect = true;
      $scope.gridOptions.onRegisterApi = function( gridApi ) {
        $scope.gridApi = gridApi;
      };
     
      $scope.toggleRowSelection = function() {
        $scope.gridApi.selection.clearSelectedRows();
        $scope.gridOptions.enableRowSelection = !$scope.gridOptions.enableRowSelection;
        $scope.gridApi.core.notifyDataChange( uiGridConstants.dataChange.OPTIONS);
      };
     
      $http.get('../data/500_complex.json')
        .success(function(data) {
          $scope.gridOptions.data = data;
     
          // $interval whilst we wait for the grid to digest the data we just gave it
         // $interval( function() {$scope.gridApi.selection.selectRow($scope.gridOptions.data[0]);}, 0, 1);
        });
    }]);
    </script>
    
    
  </body>
</html>